<!DOCTYPE html>
<html lang="en">
<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>{{ app_url }} Link Shortener | Delete an Entry</title>
</head>
<body>

    <h1 id="app_url_title">{{ app_url }} Link Shortener</h1>

    <div class="center_parent_block">
        <div class="center_child_block">
            <p class="response_text">{{ response_line_1 }}</p>
            <p class="response_text">{{ response_line_2 }}</p>
        </div>
    </div>

    <form class="submission_form" action="" method="POST">
        <div class="center_parent_block">
            <div class="center_child_block">
                <input id="url_input" type="text" name="deletion_code_field" placeholder="Deletion code">
                <input id="submit_button" type="submit" value="Delete!">
            </div>
        </div>
    </form>

</body>
</html>